main {
    margin-left: 60px;
    margin-right: 16px;
}

.main-page-title {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

.main-page-updated {
    padding-bottom: 2rem;
    font-size: 0.8rem;
}

.main-page-description {
    padding-top: 1rem;
    font-size: 1rem;
}

.joke-title {
    padding-top: 1rem;
}

.joke-title h2 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-main);
}

.joke-content {
    padding: 0.5rem 0;
}

.joke-hero {
    padding-bottom: 1rem;
}

@media (min-width: 540px) {
    main {
        margin-left: 70px;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 900px;
        margin-left: 290px;
    }

    .main-page-title {
        padding-top: 3rem;
    }
}
